*{
    margin: 0px;
    padding: 0px;
}

body{

    background-color: rgb(214, 211, 201);
}

.mainHead{
    


    color: white;
    font-size: 40px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    justify-content: center;
    background-color: blue;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

.calc{
    height: 600px;
    width: 600px;
    margin-top: 30px;
    margin-bottom: 10%;
    margin-left: 35%;
    margin-right: 35%;
    border: 3px solid blue;
    border-radius: 8px;
    background-color: rgb(124, 14, 14);

}
.input{

    width: 550px;
    height: 60px;
    margin-top: 10px;
    margin-left: 20px;
    font-size: 50px;
    border: 3px solid blue;
    border-radius: 5px;
  
}

.opcontainer{

    margin-top: 22px;
    border-radius: 5px;

}

.button{

    height: 80px;
    width: 80px;
    margin-left: 53px;
    font-size: 55px;
    border-radius: 5px;
    border: 3px solid blue;
}

.button:hover{

    color: aliceblue;
    background-color: blue;
}

.btmfooter{

    height: 30px;
    font-size: 25px;
    color: aliceblue;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    justify-content: center;
    background-color: black;
}
